# Here are the required environment variables along with their example values:

# Not needed for deploying on render.com, default=10000
PORT=4000

# LIVE_URL=<live url of project with above port number (no trailing slash)>
LIVE_URL=http://localhost:4000

# MONGODB_URL=<url at which mongodb is running, along with database name>
MONGODB_URL=mongodb://127.0.0.1:27017/blog-book-db

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=
